.active {
    font-weight: 500;
    color: var(--focusColor);
}

.inActive {
    font-weight: 300;
    color: var(--textColor);
}

.submenuLink {
    font-size: 24px;
    cursor: pointer;
}

.submenuLink:not(:last-child) {
    margin-bottom: 40px;
}